[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
doc8 = "*"
sphinx-autobuild = "*"

[packages]
sphinx = "*"
pygments = "*"
docutils = "*"
pygame = "==2.0.0"
cloud-sptheme = "*"
sphinxcontrib-fulltoc = "*"

[requires]
python_version = "3.9"
